1. Using the dictionary named people you used yesterday, replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age Example: {Charles: [99.73, "Darwin"], Alan: [42.5, "Turing"]}
2. Write a for loop that goes through all records in the dictionary, and assigns the float numbers into one merged list named ages (see ages) ages = [23.4, 22.9, 552.9]
BONUS: Calculate loop the median and mean of the ages list with a for loop

In [20]:
#declare people
people = {'Alex' : [26.75, 'Cheng'], 
               'Chris' : [40.13, 'Chatto'], 
               'Allen' : [67.39, 'Flood'], 
               'Larry' : [93.12, 'King'],
               'Beyonce' : [40.98, 'Queen']}
values = list(people.values())
ages = []

#for loop and append floats in "ages" list
for value in values:
    ages.append(value[0])
ages

#declare median and mean, for loop to find mean
median = 0
mean = 0
for age in ages:
    mean += age/len(ages)
mean

#sort ages list, 
ages_sorted = sorted(ages)
ages_sorted

for age in ages_sorted:
    if age == 40.98:
        print(age)

[[26.75, 'Cheng'],
 [40.13, 'Chatto'],
 [67.39, 'Flood'],
 [93.12, 'King'],
 [40.98, 'Queen']]

In [21]:
for value in values:
    ages.append(value[0])
ages

[26.75, 40.13, 67.39, 93.12, 40.98]

In [27]:
median = 0
mean = 0
for age in ages:
    mean += age/len(ages)
mean

53.674

In [35]:
ages_sorted = sorted(ages)
ages_sorted

[26.75, 40.13, 40.98, 67.39, 93.12]

In [46]:
for age in ages_sorted:
    if age == 40.98:
        print(age)

40.98