# SQL IS NOT NULL Warmup

Given the below head of a table called salesman, write a SQL statement that counts the number of salesmen for whom a city is specified. Note that there may be spaces or no spaces in the city column if no city is specified.

In [ ]:
SELECT COUNT(*) FROM salesman
WHERE city IS NOT NULL